@import './variables';
@import './mixins';

.btn {
    cursor: pointer;

    &--project-info,
    &--buy-project {
        background-color: $ultramar--100;
        padding: 8px 16px;
        border-radius: $border-radius--s;
        color: $white--100;
        font-size: $font--mob-xs;
        line-height: $line-h---l;
        font-weight: $bold;
        text-transform: uppercase;
        margin-bottom: 24px;
        transition: background-color .2s ease-in-out;

        @include mq-720 {
            font-size: clamp($font--mob-xs, 3vw, $font--desk-xs);
            line-height: $line-h--xs;
        }

        @include mq-1920 {
            width: 163.64px;
            height: 45px;
            font-size: $font--desk-xs;
            line-height: $line-h--xs;
            margin-bottom: 29px;
        }

        &:hover {
            background-color: $ultramar--200;
        }
    }
    &--project-info {
        content: "Más info";
    }
    &--buy-project {
        margin: 0 auto;
    }
}