@mixin resetStyle {
    *, *::before, *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
    }
    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    input, button, textarea, select {
        font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    #root, #__next {
        isolation: isolate;
    }
    button {
        border: none;
        background: none;
        padding: 0;
    }
}

@mixin shadows {
    box-shadow: 0px 2.95px 4.43px 0px rgba(0,0,0,0.05), 0px 7.38px 11.07px 0px rgba(0,0,0,0.1);
}

@mixin mq-480 {
    @media all and (min-width: 480px) { @content; }
}
@mixin mq-720 {
    @media all and (min-width: 720px) { @content; }
}
@mixin mq-1024 {
    @media all and (min-width: 1024px) { @content; }
}
@mixin mq-1920 {
    @media all and (min-width: 1920px) { @content; }
}