@import './keyframes';
@import './variables';
@import './mixins';
.modal {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    inset: 0 0 0 0;
    
    
    &-container {
        position: absolute;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        background-color: $white--0;
        margin: 0 24px;
        padding: 36px 0 22px 0;
        border-radius: $border-radius--s;
        opacity: 0;
        transition: opacity .3s ease-in-out;

        &.fadeIn {
            opacity: 1;
        }
        &.fadeOut {
            opacity: 0;
        }

        @include mq-480 {
            width: clamp(360px, 42vw, 480px);
            margin: auto;
        }
        @include mq-1920 {
            width: 590px;
            margin: auto;
            padding: 50px 0 38px 0;
        }
    }
    &-project-name {
        font-size: $font--mob-s;
        line-height: $line-h--1;
        font-weight: $bold;
        @include mq-1920 {
            font-size: $font--desk-l;
        }
    }
    &-separator {
        margin: 24px 0;
        padding: 0 21px;
        fill: none;
        stroke: $tertiary--0;
        stroke-width: 1px;
        @include mq-1920 {
            padding: 0 45px;
        }
    }
    &-overlay {
        position: absolute;
        inset: 0 0 0 0;
        background-color: $black--80;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        mix-blend-mode: multiply;

        &.fadeIn {
            opacity: 1;
        }
    }
}
