@import './variables';
@import './mixins';

/* Carousel */
.project-carousel {
    margin-top: 34px;
}
/* Cards */
.project-card {
    width: 100%;
    max-width: 313px;
    height: fit-content !important;
    background-color: $white--0;
    outline: 1px solid $tertiary--40;
    border-radius: $border-radius--s;
    cursor: grab;

    &:hover,
    &.swiper-slide-active,
    &.swiper-slide-active:hover {
        box-shadow: $shadow--project-card;
        transition: box-shadow 0.2s ease-in-out;
    }
    
    &.swiper-slide-active {
        @include mq-720 {
            box-shadow: none;
        }
    }

    @include mq-480 {
        width: clamp(313px, 12vw, 360px);
        max-width: none;
    }
    @include mq-1024 {
        width: clamp(360px, 28vw, 418px);
        box-shadow: none;
    }
    @include mq-1920 {
        width: 418px;
    }

    /* Card content */
    .project {
        &-image-container {
            position: relative;
            margin: 12.55px 13.30px 13.59px;
            
            @include mq-1920 {
                margin: 17px 17.74px 18px;
            }
            @include imageGradients;
        }
        &-image {
            height: auto;
            @include mq-1920 {
                height: 325px;
            }
        }
        &-info-container {
            padding: 0 19px;
            @include mq-1920 {
                padding: 0 25.99px;
            }
        }
        &-name {
            font-size: $font--mob-s;
            line-height: 100%;
            font-weight: $bold;
            margin-bottom: 7.22px;
             @include mq-1920 {
                font-size: $font--desk-m;
                line-height: $line-h--auto;
                margin-bottom: 13px;
            }
        }
        // Medium size price text
        &-price {
            font-size: $font--mob-m;
            line-height: $line-h---m;
            font-weight: $semibold;
            margin-bottom: 13.78px;
            @include mq-1920 {
                font-size: $font--desk-2xl;
                line-height: $line-h--xl;
                margin-bottom: 16px;
            }
        }
        // Small size price text
        &-price--s {
            font-size: $font--mob-xs;
            line-height: $line-h---xxs;
            @include mq-1920 {
                font-size: $font--desk-s;
                line-height: $line-h--s;
            }
        }
    }
}