@import './mixins';
@import './variables';
@include resetStyle;
body {
    background-color: $gray--0;
}
.section {
    width: 100%;
    height: 100dvh;
    background-color: $white--0;
    padding: $padding--article-s;
    overflow: hidden;

    @include mq-720 {
        width: clamp(720px, 80vw, 1280px);
        margin: auto;
    }
    @include mq-1920 {
        width: 1440px;
        padding: $padding--article-m;
    }
    &-header {
        text-align: center;
        font-size: $font--mob-s;
        line-height: $line-h---l;
        font-weight: $bold;

        @include mq-720 {
            margin: 0 clamp(24px, 8vw, 162px);
        }
        @include mq-1024 {
            font-size: $font--desk-m;
            line-height: $line-h--xl;
            margin: 0 clamp(120px, 8vw, 162px);
        }
        @include mq-1920 {
            font-size: $font--desk-xl;
            line-height: $line-h--xxl;
            margin: 0 162px;
        }
    }
}