@import './mixins';
@import './variables';
@include resetStyle;
article {
    height: 100dvh;
    min-height: 100%;
    padding: $padding--main--s;

    h2 {
        text-align: center;
    }
}