@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, p, span {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}