@import './variables';
@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h2, h3, p, span, button {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


h2 {
    font-size: $font--mob-s;
    line-height: $line-h---l;
    font-weight: $bold;
}

