// COLORS
$white--0: #FFFFFF;
$white--100: #FBFBFC;
$gray--0: #F2F2F3;
$gray--100: #D9D9D9;
$tertiary--0: #D9DBE4;
$tertiary--40: #F0F1F4;
$ultramar--0: #A1AED6;
$ultramar--100: #133599;
$ultramar--200: #051850;
$brown--100: #4C3326;
$black--0: #000000;
$black--80: #4C4C4C;
$black--90: #1A1E32;
$black--100: #00051A;

// PADDING
//article
$padding--article-s: 100px 32px 0;
$padding--article-m: 120px 90px 0;

// BORDER
$border-radius--s: 8px;

// FONTS
//size
$font--mob-xs: 14px;
$font--mob-s: 18px;
$font--mob-m: 20px;
$font--mob-l: 22px;

$font--desk-xs: 11.26px;
$font--desk-s: 19.1px;
$font--desk-m: 22px;
$font--desk-l: 26px;
$font--desk-xl: 30px;
$font--desk-2xl: 30.03px;

//weight
$bold: 700;
$semibold: 600;

//line height
$line-h--auto: normal;
$line-h---xxs: 16.1px;
$line-h--xs: 19.3px;
$line-h--s: 21.8px;
$line-h---m: 22.2px;
$line-h---l: 24px;
$line-h--xl: 30px;
$line-h--xxl: 41px;

// BOX SHADOWS
$shadow--project-card: 0px 2.95px 4.43px 0px rgba(0,0,0,0.05), 0px 7.38px 11.07px 0px rgba(0,0,0,0.1);

// GRADIENTS
$gradient--dark: linear-gradient(132deg, rgba(76,51,38,1) 10%, rgba(217,217,217,0) 42%);
$gradient--light: linear-gradient(132deg, rgba(255,255,255,1) 12%, rgba(255,255,255,0) 42%);