// COLORS
$white--0: #FFFFFF;
$white--100: #FBFBFC;
$tertiary--40: #F0F1F4;
$ultramar--0: #A1AED6;
$ultramar--100: #133599;
$brown--100: #4C3326;
$black--0: #000000;
$black--90: #1A1E32;
$black--100: #00051A;
// WIDTH

// HEIGHT
$padding--article-s: 100px 32px;
$padding--article-m: 90px;

// BORDER
$border-radius--s: 8px;

// FONTS
//size
$font--mob-xs: 14px;
$font--mob-s: 18px;
$font--mob-m: 20px;
$font--mob-l: 22px;

$font--deskt-xs: 11.26px;
$font--deskt-s: 19.1px;
$font--deskt-m: 22px;
$font--deskt-l: 26px;
$font--deskt-xl: 30px;
$font--deskt-2xl: 30.03px;
//weight
$bold: 700;
$semibold: 600;

// Line height //
$line-h--auto: auto;
$line-h---xxs: 16.1px;
$line-h--xs: 19.3px;
$line-h--s: 21.8px;
$line-h---m: 22.2px;
$line-h---l: 24px;
$line-h--xl: 30px;
$line-h--xxl: 41px;